/*top*/

body{
    word-wrap:break-word;
}


.headerviewtext{
    font-size:21px;
    text-transform: capitalize;
}

.headerview .x-button{
    margin:0 15px !important;
}

.topviewtext{
    font-size:24px;
}

.topview .x-toolbar-body-el{
    /*background-color:#1c8ae1;*/
}

.go-header-menu .x-menu-body-el > .x-non-menuitem{
    margin:0 15px;
}



/*Menu*/
.x-treelist-item-text{
  padding:10px 0;
  margin-left:35px !important;
}

.x-treelist-item-icon{
  padding-top:10px;
}

.x-treelist-nav .x-treelist-item-expander{
    line-height:55px;
}

/*.x-treelist-nav .x-treelist-item-expanded .x-treelist-item{
    background-color:#4eb0ff;
}

.x-treelist-nav .x-treelist-toolstrip{
    background-color:#4eb0ff;
}

.x-treelist-nav .x-treelist-item-selected.x-treelist-item-tool{
    background-color:#4eb0ff;
}*/



/*Field dan label*/

.x-field .x-input-wrap-el {
    border:1px solid #ccc;
    border-radius: 5px;
}

.x-field.x-focused .x-body-el,.x-textfield.x-focused .x-input-wrap-el{
    border-color:#3892d4 !important;
    box-shadow:0 0 0;
}

.x-textfield .x-input-el{
    padding:10px;
    color:#81919a;
}


.x-textfield .x-input-el:read-only {
    background-color:#efefef;
 }
 
 .x-textfield .x-input-el:-moz-read-only {
    background-color:#efefef;
 }
 
 .x-selectfield.x-textfield .x-input-el:read-only{
     background-color:transparent !important;
 }
 
 .x-selectfield.x-textfield .x-input-el:-moz-read-only{
     background-color:transparent !important;
 }


.x-field.x-label-align-horizontal > .x-body-wrap-el {
    /*max-height: 42px;*/
}
.x-field > .x-label-el {
    color:#656f75;
    padding:10px 10px 0 8px;
    width: 30%;
    white-space: pre-wrap;
    font-size: 14px;
    text-transform: capitalize;
    max-width:130px;
    opacity:1 !important;
}

.go-report .x-field > .x-label-el {
    max-width:200px;
}

.x-field-group-container .x-group-inner-container > .x-body-el {
    background-color: #fff;
}
.x-field {
    margin:0 0 10px;
}
.x-component-celleditor{
    margin:0 0 0 0 !important;
}
.x-component-celleditor > .x-body-wrap-el > .x-input-wrap-el {
    /* border:1px solid #ccc; */
    border-radius: 0px !important;
    padding:auto !important;
}
.x-textareafield{
    height:70px;
}

.x-field.x-label-align-right > .x-label-el {
    padding-left: 2px;
}
.x-checkboxfield{
    margin:5px 15px 15px 0;
}

.x-field.x-required > .x-label-el::after{
    content:"";
}

.x-field.x-required > .x-label-el::before{
    content:"*";
    position:absolute;
    top:10px;
    left:0;
    color:red;
}


.x-checkboxfield.x-focused .x-label-el{
    color:#656f75 !important;
}

.x-checkboxfield .x-label-el{
    margin-right:5px;
}

.x-button{
    max-height:36px;
}

.canvas-image{
    margin:0 !important;
    width:100% !important;
    height:150px;
}

.go-text-readonly .x-input-wrap-el{
    background-color:red;
}





/*table*/
.x-header-el,.x-trigger-el{
    background-color:#2196f3 !important;
    color:white !important;
}

.x-sort-icon-el{
    color:white !important;
}

.x-listitem:nth-child(odd){
    background-color:white;
}

.go-table .x-dock-vertical > .x-component{
    max-height:none !important;
    background-color:#fff;
    box-shadow:0 0 0;
}

.go-table .x-titlebar-body-el{
    padding:15px 0;
}

.go-table .x-dock-vertical{
    padding:0 15px 30px;
    background-color:#fff;
}

.go-table--sort{
    background-color:#2196f3;
}

.go-table .x-titlebar .x-title{
    padding:0;
    color:#333;
}

.go-table--search .x-layout-box.x-pack-start{
    padding-top:15px;
}


.go-table .x-toolbar-body-el{
    padding:0 15px;
}

.go-table .x-panelheader > .x-body-el{
    padding:0 15px;
    background-color:#2196f3;
}

.go-table .x-paneltitle .x-text-el,.go-table .x-dialogtool .x-icon-el{
    color:#fff;
}

.go-table .x-gridcell-body-el{
    /*padding:5px;*/
}

.go-table--list .x-dock-vertical{
    background-color:#efefef;
    margin:0 15px 30px;
}







/*content*/

.x-panel-body-el{
    background-color:#e8e8e8;
}


.centerview{
    background-image:none;
}

.x-formpanel-body-el{
    background-color:#fff;
    padding:15px;
}

.x-formpanel .x-panelheader > .x-body-el{
    background-color:#fff;
    padding:30px 15px 0;
}

.x-formpanel .x-paneltitle{
    color:#3a4348;
    padding:0 0 10px;
    border-bottom:1px solid #81919a;
    font-size:16px;
    font-weight:400;
}

.x-nativescroller.x-overflow-y-auto .x-toolbar-footer{
    background-color:#fff;
}





/*accordion and tab*/

.x-panel-accordion-body-el{
    padding:0;
}

.x-tabbar{
    background-color:#fff;
    box-shadow:0 0 0;
}


.x-tabbar .x-button{
    max-height:none;
}


.x-paneltool-accordion .x-icon-el{
    color:#fff;
}

/* .x-tab.x-has-text .x-inner-el{
    padding:15px 30px;
    background-color:#fff;
    color:#333;
} */

.x-tab.x-has-text .x-inner-el .x-text-el{
    text-transform:capitalize;
}

.x-paneltitle-accordion{
    color:#fff;
}

.x-layout-card-item .x-toolbar-footer{
    background-color:#0960a5;
}

.go-btn-bot .x-toolbar-footer{
    background-color:#cdcdcd !important;
}



/*login*/
.go-login{
    background:#ccc;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center bottom;
    position:relative;
}

/*.go-login:after{
    position:absolute;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.3);
    content:"";
    left:0;
    top:0;
    z-index:1;
    filter: blur(8px);
}*/

.go-login .x-panel{
    position:relative;
    z-index:2;
}

/*.go-login .x-panel-body-el{
    background-color:#fefefe;
    border-radius:5px;
}*/

.go-login .x-label-el{
    display:none !important;
}

.go-login .x-input-wrap-el{
    background-color:#fff;
    padding:5px 15px;
    border-radius:0;
}

.go-login-logo{
    position:relative;
    z-index:2;
    text-align:center;
    margin-bottom:20px;
}

.go-login-logo img{
    height:100px;
}

.go-login .x-button-action .x-inner-el{
    background:#4c81eb;
    border-color:#4c81eb;
    padding:15px 20px !important;
    border-radius:0 !important;
}

.go-login-box__form{
    padding: 60px;
    background: #fefefe;
    min-width: 400px;
    box-sizing: border-box;
    box-shadow:3px 3px 3px rgba(0,0,0,0.8);
}

.go-login-box__art{
    padding: 60px;
    min-width: 400px;
    box-sizing: border-box;
    color:#fff;
    background-position:center bottom;
    background-repeat:no-repeat;
    background-size:100%;
    position:relative;
    background-color:red;
    background-image:url(desktop/login.jpg);
    background-position:center center;
    background-size:cover;
    background-repeat:no-repeat;
}

.go-login-box__art-desc{
    margin-top:80px;
}

.go-login-box__art-title{
    font-size: 48px;
    position: relative;
    margin-bottom: 50px;
    letter-spacing: 7px;
    line-height: 46px;
}

.go-login-box__art-title:after{
    position:absolute;
    bottom:-20px;
    left:0;
    width:50px;
    height:5px;
    background-color:#fff;
    content:"";
}

.go-login-btn.x-button{
    max-height:none;
}


.go-login .x-formpanel-body-el{
    padding:30px;
    box-shadow:3px 3px 3px rgba(0,0,0,0.8);
}
/* UNTUK LOADER SPIN */
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin:auto;
    animation: spin 0.4s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.customLoader .x-panel-body-el {
    background: transparent;
}
.customLoader .x-dialog-outer-border-trbl {
    border-width: 0px !important;
}

/*END UNTUK LOADER SPIN */
.label-normal{
    text-transform: none !important;
}