//$base-color:#025B80; //Themer Blue
// $base-color:#EF5350; //red-ish
// $base-color:#8D6E63; //brown-ish  
//$base-color:#26A69A; //green-ish
//$base-color:#2d3436;
$base_foreground_color:#ffffff; //FONT TULISAN DI TAB VIEW
$accent-color:rgba(0, 0, 0, 0.685); //SELECTED MENU SIDEBAR
$accent-light-color:#0d1bed; 
$accent-dark-color :green;  //HOVER MENU KIRI
$reverse-background-color:blue; //HOVER MENU BOARD
$row-selected-background-color:#f3d221;
$tool-selected-background-color:#0ded36;